*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}
*::selection{
    background-color: black;
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #F7F7F7;
}
#page1{
   min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 0 1vw;
    padding-top: 25vh;
  
}
#page1 h1{
    font-size: 15.2vw;
    font-family: futura;
    text-transform: uppercase;
    line-height: 14vw;
    letter-spacing: -8px;
}

#photo-container{
    height: 100vh;
    width: 100%;
    margin-top: 1vw;
    margin-bottom: 5vw;
}
#photo-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}
.play{
    padding: 2vw 1.5vw;
    background-color: black;
    color: #fff;
    font-size: 1vw;
    text-transform: uppercase;
    font-family: futura;
    position: fixed;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
    cursor: pointer;

}


#page2{
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 1vw;
}
#page2 .elem{
    height: 100%;
    width: 31%;
    /* background-color: aqua; */
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page2 .elem img{
    height: 100%;
    width: 100%;
   object-fit: cover;
   scale: 1.1;
}
#good{
    min-height: 2vh;
    width: 98%;
   position: relative;
   padding: 0 1vw;
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid black;
   margin: auto;
   text-transform: uppercase;
  margin-top: 2vw;
   padding-bottom: 1vw;
}
#good div{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
#good span{
    font-family: sans-serif;
    font-weight: 100;
    font-size: 1vw;
}

.elem .dets{
    height: 60px;
    width: 80%;
    position: absolute;
    background-color: aqua;
    z-index: 9;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.2vw;
    background-color: #fff6de;
}
.dets i{
    font-size: 1vw;
    
}
.dets span:nth-child(2){
    font-family: Arial, Helvetica, sans-serif;
}
.dets span:nth-child(3){
    font-family: futura;
}
.elem .dets:hover{
 background-color: black;
 color: #fff;

}
.elem:nth-child(2) .dets{
    background-color: #8aaad6;;
}
.elem:nth-child(2) .dets:hover{
    background-color: black;
    color: #fff;
}
#page3{
    width: 100%;
    min-height: 120vh;
  
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
   padding: 5vw 0; 
}
.chaid{
    height: 54vh;
    width: 38vw;
  
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4vw;
}
.chaid #chaid-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 1vw;
    font-family: sans-serif;
    margin-bottom: 4vw;
}
.chaid img{
    /* width: 100%; */
    height: 100%;
 
}
#cursor{
    height: 150px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.575);
    position: fixed;
    border-radius: 50%;
    transform: translate(-50%,-50%)  scale(0);
   

}

#nav{
  
    width: 100%;
    /* background-color: burlywood; */
    position: fixed;
    z-index: 99;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#nav-part1{
    height: 82px;
   
    overflow: hidden;
}
#nav-part1 svg{
    display: block;

}
#nav #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
#link{
    padding: 10px;
}
#nav-part2 #link a{
    text-decoration: none;
    color: #333;
    font-weight: 400;
    font-size: 14px;
    margin:0 20px;
    text-transform: uppercase;
}
 /* #icones i{
    font-size: 18px;
    margin:0 20px;
    font-weight: 100;
} */
#icones{
    padding: 10px;
    border-radius: 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
#page4{
    width: 100%;
    position: relative;
    padding: 7vw 1vw;
}
#page4-box h1{
    font-size: 4.2vw;
    font-family: futura;
    text-transform: uppercase;
    line-height: 5vw;
    letter-spacing: -2px;
}
#page4-box{
    display: flex;
    justify-content: space-between;
}
#text{
    margin-right: 10vw;
}
#text p{
   max-width: 25vw;
    font-family: sans-serif;
    margin-bottom: 2vw;
    line-height: 3.5vh;
}
#text span{
    display: inline-block;
}
#text span a{
    font-family: sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1vw;
    color: black;
}
#text span #span-box{
    width: 100%;
    height: 1px;
    background-color: black;
    margin-top: 0.5vw;
    position: relative;
}
#text span #span-box .span-box{
position: absolute;
width: 0%;
height: 100%;
background-color: black;
transition: 2s;
}
#text span:hover #span-box{
    background-color: #F7F7F7;
}
#text span:hover #span-box .span-box{
   width: 100%;
}

#text-slider{
    
    width: 100%;
    /* background-color: #8aaad6; */
    padding: 5vw 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#text-slider button{
  border: 0;
  outline: 0;
  background-color: #F7F7F7;
}
#text-slider button #click1{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid black;
    margin-bottom: 24px;
    background: transparent;
  
}
#text-slider button span{
    text-align: left;
    display: inline-block;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 2vw;
}
#text-svg{
  text-align: left;
}
#page5{
    width: 100%;
    min-height: 100vh;
    padding: 2vw 1vw;
    text-align: center;
}
#page5 h1{
    font-size: 5.2vw;
    font-family: futura;
    text-transform: uppercase;
    line-height: 6vw;
    letter-spacing: 0px;
}
#page5 button{
    background-color: black;
    color: white;
    padding: 2vw 4vw;
    border: 0;
    outline: 0;
    font-size: 1vw;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3vw;
    margin-top: 5vw;
   
}
#page5 button:hover{
    color: gray;
}
#page5 p{
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 2vw;
}

#page6{
    padding: 2vw 1vw;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}
#page6 #page6-box{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3vw;
    overflow: hidden;
}
#page6-box h3{
    font-family: futura;
    font-size: 2vw;
}
#page6-box span{
    font-family: sans-serif;
    line-height: 2vw;
    display: inline-block;
}

#page6-box span a{
    font-family: sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1vw;
    color: black;
}
#page6-box span #span-box{
    width: 33%;
    height: 1px;
    background-color: black;
    margin-top: 0.5vw;
    position: relative;
}
#page6-box span #span-box .span-box{
position: absolute;
width: 0%;
height: 100%;
background-color: black;
transition: 2s;
}
#page6-box span:hover #span-box{
    background-color: #F7F7F7;
}
#page6-box span:hover #span-box .span-box{
   width: 100%;
}
#page6-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1.1;
}
#page7{
    width: 100%;
    padding: 2vw 1vw;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    align-items: center;
}
#page7 h1{
    text-transform: uppercase;
    font-family: futura;
    font-size: 3vw;
    position: relative;
    padding: 1vw;
}
#page7-img {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 20%;
    height: 100%;
}
#page7-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#page7 i{
    font-size: 2vw;
    margin-right: 3vw;
}
#page8{
    padding: 2vw 1vw;
    width: 100%;
    padding-top: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#page8 #page8-box span{
    font-family: sans-serif;
    font-size: 1vw;
    line-height: 1.5vw;
    letter-spacing: 1px;
    font-weight: 500;
    
}
#page8 #page8-box span:nth-child(1){
    color: gray;
    font-size: 1vw;
    
}
#page9{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2vw 1vw;
}
#page9 #page9-box{
    display: flex;
    justify-content: center;
    gap: 2vw;
    
}
#page9 #page9-box a{
    text-decoration: none;
    color: gray;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1vw;
}
#page9 p{
    max-width: 70vw;
    margin: auto;
    font-family: sans-serif;
    line-height: 1.5vw;
    margin-top: 3vw;
}
#click{
    display: none;
}

@media (max-width:600px) {
    #nav{
  
        width: 100%;
        /* background-color: burlywood; */
        position: fixed;
        z-index: 99;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    #nav-part1{
        height: 62px;
       
        overflow: hidden;
    }
    #nav-part1 svg{
        display: block;
        height: 70px;
        width: 80px;
        
    
    }
    #nav #nav-part2{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    #link{
        padding: 10px;
        
    }
    #nav-part2 #link a{
        text-decoration: none;
        color: #333;
        font-weight: 400;
        font-size: 14px;
        margin:0 20px;
        text-transform: uppercase;
    }
    
    #icones{
        padding: 10px;
        border-radius: 50px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }


    #page1 h1{
        font-size: 15.5vw;
        line-height: 14vw;
        letter-spacing: -3px;
    }
    #page1{
         width: 100%;
         padding: 0 3vw;
         padding-top: 25vh;
         min-height: 70vh;
     }

     #photo-container{
        height: 20vh;
        margin-top: 3vw;
    } 
    .play{
        padding: 6vw 3.5vw;
        font-size: 3vw;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        scale: 1;
        transform: translate(-50%,-50%);
    }
    #page2{
        min-height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5vw 3vw;
        flex-direction: column;
    }
    #page2 .elem{
        height: 50%;
        width: 100%;
        /* background-color: aqua; */
        overflow: hidden;
        margin-bottom: 3vw;
    }
    #page2 .elem img{
        height: 100%;
        width: 100%;
       object-fit: cover;
       scale: 1.1;
    }
    #page3{
        width: 100%;
        min-height: 120vh;
      
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .chaid{
        height: 54vh;
        width: 88vw;
        padding: 10vw;
      
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .chaid img{
        /* width: 100%; */
        height: 100%;
     
    }
    #cursor{
        height: 150px;
        width: 150px;
        background-color: blueviolet;
        position: fixed;
        border-radius: 50%;
        transform: translate(-50%,-50%)  scale(0);
    }

    #page4{
        width: 100%;
        position: relative;
        padding: 7vw 1vw;
        text-align: center;
    }
    #page4-box h1{
        font-size: 4.2vw;
        font-family: futura;
        text-transform: uppercase;
        line-height: 5vw;
        letter-spacing: 2px;
        margin-bottom: 3vw;
    }
    #page4-box{
        flex-direction: column;
    }
    #text{
       text-align: center;
       margin-right: 0px;
    }
    #text p{
        max-width: 100%;

    }
    #text span{
        display: inline-block;
    }
    #text span a{
        font-family: sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 4vw;
        color: black;
        margin-top: 3vw;
    }

    
    .chaid #chaid-text{
        font-size: 3vw;
        text-align: center;
       
    }
    #good span{
        font-size: 2.5vw;
    }
    #text-slider button span{
        font-size: 4vw;
    }
    #page5 button{
        font-size: 2vw;
       
    }
    #page5{
        padding: 15vw 0;
        min-height: 0;
    }
    #page6{
        flex-direction: column;
    }
    #page6 #page6-box{
        width: 100%;
        text-align: center;
        gap: 6vw;
        margin-top: 8vw;
    }
    #page6-box span{
        line-height: normal;
    }
    #page6-box h3 {
        font-size: 4vw;
    }
    #page6-box span a {
        font-size: 4vw;
       
    }
    #page6-box span #span-box {
        width: 35%;
        margin: auto;
    }
    #page8{
        flex-direction: column;
        gap: 10vw;
    }
    
    #page8 #page8-box span:nth-child(1) {
        font-size: 5vw;
    }
    #page8 #page8-box span {   
        font-size: 4vw;
        line-height: 6.5vw;
    }
    #page9{
        padding: 10vw 0;
    }
    #page9 #page9-box a {
        font-size: 4vw;
    }
    #page9 p {
        max-width: 90vw;
        padding: 2vw 0vw;
        margin-top: 3vw;
        line-height: normal;
    }
    #good span {
        font-size: 3.9vw;
    }
    .elem .dets {
        font-size: 4.2vw;
        
    }
    #link{
       display: none;
        position: absolute;
        margin-top: 25vw;
    }
    #click:checked~#link{
        display: block;
    }
   
}

